:root {
  --primery-light: #fff;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --text-dark: #000;
  --text-light: #747272;
  --hero-text: #4a4a4a;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
